*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main-head{
    padding: 30px;
    text-align: center;
    font-size: 40px;
    
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     margin: 0 150px;
}
.card-container{
    padding: 20px;
    border: 1px solid black;
    height: fit-content;
    width: 210px;
    border-radius: 10px;
    margin: 4px;
    
}
.card-head{
    padding: 2px 7px;
    text-align: left;
    font-size: 29px;
}
.card-data{
    display: flex;
    align-items: center;
    margin: 2px;
    padding: 2px;
    font-size: 15px;
}
.lucide-icon{
    padding-right: 5px ;
    display: flex;
    align-items: center;
}